$font-serif: 'Roboto Slab', serif;
$font-sans: 'Roboto', sans-serif;
$grey1: #F5F5F5;
$grey2: #EEE;
$grey3: #CCC;
$grey4: #999;
$grey5: #555;
$red: #e74c3c;

h1, h2, h3 {
  /*font-family: $font-serif;*/
}

.input-bar-mix {
  display: inline-block;
  float: right;
  background-color: $grey2;
  margin: 14px 0;
}

.input-mix {
  border: 0;
  background-color: transparent;
  padding: 5px;
  font-size: 16px;
  text-align: right;
  color: $grey4;
  font-style: italic;
  border-right: 1px solid rgb(230,230,230);
}

.input-mix:hover, .input-mix:active, .input-mix:focus {
  background-color: $grey3;
}

@mixin shadow-transition() {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

@mixin shadow-d1() {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  box-shadow: 0 1px 3px rgba(0,0,0,0.11);
}

@mixin shadow-d2() {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.14);
  box-shadow: 0 2px 6px rgba(0,0,0,0.14);
}




html {
  height: 100%;
}

body {
  background: $grey1;
  padding: 0;
  margin: 0;
  height: 100%;
  font: 100% $font-sans;
  color: $grey5;
}

form {
  width: 800px;
  margin: 40px auto;
}

div {
  box-sizing: border-box;
}

/*Remove awful blue outline*/
input, textarea, select, a { outline: none; user-select: none; }

textarea:focus, input:focus{ outline: 0; }

input {
  font: 100% $font-sans;
}

i {
  cursor: pointer;
}




.view {
  height: 100%;
}

.paper {
  @include shadow-d1();
  @include shadow-transition();
}

.paper:focus, .paper:hover {
  outline: none;
  @include shadow-d2();
}

.loading-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.3);
}

.sk-spinner-rotating-plane.sk-spinner {
  position: absolute;
  top: 40%;
  right: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



.fade-out {
  opacity: 1;
}

.fade-out.ng-hide-add.ng-hide-add-active,
.fade-out.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.fade-out.ng-hide {
  opacity: 0;
}


@import "main";
@import "editor";
@import "login";
